body
{
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
	text-align: center;
}

	.login_div1
	{
		height: 30vh;
        background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
		padding: 15px;
		float: none;
		border-radius: 15px;
		margin-left: auto;
		box-shadow: 2px 2px 50px grey;
		margin-right: auto;
	}
.bpn
{
    margin-top: 60%;
}
.c
{
	margin: 0 auto;
	width: 100%;
}
#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
.btw
{
    width: 250px;
}